img {
  border: none !important;
  box-shadow: none !important;
}

.reveal code {
  font-family: 'Roboto Mono', monospace;
}

.hl-purple {
  color: #782b90;
}

.hl-fade {
  color: #eeeeee;
}

.shadow {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.65);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.65);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.65);
}

.reveal i.fa {
  font-family: FontAwesome;
  font-style: normal;
}

.reveal i.fab {
  font-family: FontAwesome;
  font-style: normal;
}

#watermark
{
 position:fixed;
 bottom:25px;
 left:25px;
 z-index:99;
 font-size: 1.5em;
 text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}